// only work on panes inside the .mod-root (not in sidebars)
body.plugin-sliding-panes .workspace .mod-root {
    .mod-vertical, &.mod-vertical {
        overflow-x: auto;
        overflow-y: hidden;
        &>* {
            flex: none;
            &>.workspace-leaf-content{
                position: relative;
            }
        }
    }
}

// body.plugin-sliding-panes-horizontal-sliding .workspace .mod-root {
//     .mod-horizontal, &.mod-horizontal {
//         overflow-x: hidden;
//         overflow-y: auto;
//         &>* {
//             flex:none;
//             &>.workspace-leaf-content{
//                 position: relative;
//             }
//         }
//     }
// }

// body.plugin-sliding-panes-vertical-stacking .workspace .mod-root {
//     .mod-vertical, &.mod-vertical,
//     .mod-horizontal, &.mod-horizontal {
//         &>.workspace-leaf,
//         &>.workspace-split {
//             box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.25);
//             background-color: var(--background-secondary-alt);
//         }
//     }
// }